@using Nursing_Service.Application.Services.PatinetNeedService.Query.GetPatientNeedServices
@model List<GetPatientNeedServiceResultDTO>
@{
    Layout = "_NurseDashboard_Layout";
}

<div class="main-header">
    <h2>لیست درخواست‌ها</h2>
    <span class="subtitle">درخواست‌ها </span>
</div>
<table class="patients-table">
    <thead>
        <tr>
            <th>شناسه</th>
            <th>تاریخ</th>
            <th>بیمار</th>
            <th>سرویس</th>
            <th>وضعیت سرویس</th>
            <th>ثبت گزارشات</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td><span class="status">@item.Id</span></td>
                    <td>@item.ServiceDateTime.ToString("yyyy/MM/dd HH:mm")</td>
                    <td><span class="status">@item.PatientFullName</span></td>
                    <td>@item.ServiceName</td>
                    <td>
                        <select class="styled-select" disabled>
                            <option value="notdone" selected="@(item.IsDone ? "" : "selected")">اقدام نشده</option>
                            <option value="done" selected="@(item.IsDone ? "selected" : "")">انجام شد</option>
                        </select>
                    </td>
                    <td>
                        @if (item.IsDone)
                        {
                            <span>ثبت شد</span>
                        }
                        else
                        {
                            <button class="edit-btn">ثبت</button>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">درخواستی وجود ندارد.</td>
            </tr>
        }
    </tbody>
</table>
