@using Nursing_Service.Application.Services.Nurse.Query.GetNurses
@model List<GetNurseResultDTO>
@{
    Layout = "_SuperVisorDashboard_Layout";
}

<div class="main-header">
    <h2>لیست پرستاران</h2>
    <span class="subtitle">اطلاعات پرستار</span>
</div>
<table class="patients-table">
    <thead>
        <tr>
            <th>نام کاربری</th>
            <th>شماره پرستاری</th>
            <th>نام و نام خانوادگی</th>
            <th>شروع همکاری</th>
            <th>تلفن همراه</th>
            <th>سابقه کاری(سال)</th>
            <th>ایمیل</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var nurse in Model)
            {
                <tr>
                    <td>@nurse.UserName</td>
                    <td><span class="status">@nurse.NurseNumber</span></td>
                    <td><span class="status">@($"{nurse.FirstName} {nurse.LastName}")</span></td>
                    <td><span class="status">@nurse.StartWorkingInCompany</span></td>
                    <td>@nurse.PhoneNumber</td>
                    <td>@(nurse.WorkHistoryInYear ?? null)</td>
                    <td>@nurse.Email</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">پرستاری یافت نشد.</td>
            </tr>
        }
    </tbody>
</table>
