@using Nursing_Service.Common.Consts
@using Nursing_Service.Application.Services.Nurse.Query.GetNurses
@model List<GetNurseResultDTO>
@{
    Layout = "_AdminDashboard_Layout";
}

<div class="main-header">
    <h2>لیست پرستاران</h2>
    <span class="subtitle">اطلاعات پرستار</span>
</div>
<table class="patients-table">
    <div class="table-actions">
        <a class="add-btn" href="/Nurses/Create-Nurse">
            <span class="btn-text">افزودن</span>
            <span class="material-icons">add</span>
        </a>
    </div>
    <thead>
        <tr>
            <th>نام کاربری</th>
            <th>شماره پرستاری</th>
            <th>نام و نام خانوادگی</th>
            <th>تاریخ شروع همکاری</th>
            <th>تلفن همراه</th>
            <th>سابقه کاری(سال)</th>
            <th>ایمیل</th>
            <th>سوپروایزر</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var nurse in Model)
            {
                <tr>
                    <td>@nurse.UserName</td>
                    <td><span class="status">@nurse.NurseNumber</span></td>
                    <td><span class="status">@nurse.FirstName @nurse.LastName</span></td>
                    <td><span class="status">@nurse.StartWorkingInCompany</span></td>
                    <td>@nurse.PhoneNumber</td>
                    <td>@nurse.WorkHistoryInYear</td>
                    <td>@nurse.Email</td>
                    <td>
                        @if (String.IsNullOrWhiteSpace(nurse.SuperVisorFullName))
                        {
                            <select class="supervisor-select" data-nurse-id="@nurse.Id">
                                <option value="">انتخاب سوپروایزر</option>
                            </select>
                        }
                        else
                        {
                            <a href="/SuperVisors/View-SuperVisor?id=@nurse.SuperVisorId">
                                @nurse.SuperVisorFullName
                            </a>
                        }
                    </td>
                    <td>
                        <a class="edit-btn" href="/Nurses/View-Nurse?id=@nurse.Id">مشاهده</a>
                        <a class="edit-btn" href="/Nurses/Edit-Nurse?id=@nurse.Id">ویرایش</a>
                        <a class="edit-btn status offline" href="/Nurses/Delete-Nurse?id=@nurse.Id">حذف</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="9" style="text-align:center;">هیچ پرستاری یافت نشد.</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(function () {
            $.getJSON('@Consts.APIHostAddress/api/supervisor/GetAll', function (supervisors) {
                $('.supervisor-select').each(function () {
                    var $select = $(this);
                    supervisors.forEach(function (sup) {
                        $select.append(
                            $('<option>', {
                                value: sup.id,
                                text: sup.fullName || (sup.firstName + ' ' + sup.lastName)
                            })
                        );
                    });
                });
            });

            $(document).on('change', '.supervisor-select', function () {
                var nurseId = $(this).data('nurse-id');
                var supervisorId = $(this).val();
                if (!supervisorId) return;

                    var postData = {
                        'Id': nurseId,
                        'supervisorId': supervisorId,
                    };

                $.ajax({
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: 'json',
                    type: "POST",
                    url: "/Nurses/Edit-Nurse",
                    data: postData,
                    success: function () {
                        location.reload();
                    },
                    error: function () {
                        alert('خطا در ثبت سوپروایزر!');
                    }
                });
            });
        });
    </script>
}