@using Nursing_Service.Application.Services.Nurse.Query.GetNurses
@model List<GetNurseResultDTO>
@{
	Layout = "_AdminDashboard_Layout";
}
<div class="main-header">
    <h2>لیست پرستاران</h2>
    <span class="subtitle">اطلاعات پرستار</span>
</div>
<table class="patients-table">
    <div class="table-actions">
        <button class="add-btn">
            <span class="btn-text">افزودن</span>
            <span class="material-icons">add</span>
        </button>
    </div>
    <thead>
        <tr>
            <th>نام کاربری</th>
            <th>شماره پرستاری</th>
            <th>نام و نام خانوادگی</th>
            <th>تاریخ شروع همکاری</th>
            <th>تلفن همراه</th>
            <th>سابقه کاری(سال)</th>
            <th>ایمیل</th>
            <th>سوپروایزر</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var nurse in Model)
            {
                <tr>
                    <td>@nurse.UserName</td>
                    <td><span class="status">@nurse.NurseNumber</span></td>
                    <td><span class="status">@nurse.FirstName @nurse.LastName</span></td>
                    <td><span class="status">@nurse.StartWorkingInCompany</span></td>
                    <td>@nurse.PhoneNumber</td>
                    <td>@nurse.WorkHistoryInYear</td>
                    <td>@nurse.Email</td>
                    <td>@nurse.SuperVisorFullName</td>
                    <td>
                        <button class="edit-btn">مشاهده</button>
                        <button class="edit-btn">ویرایش</button>
                        <button class="edit-btn status offline">حذف</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="9" style="text-align:center;">هیچ پرستاری یافت نشد.</td>
            </tr>
        }
    </tbody>
</table>