@using Nursing_Service.Application.Services.Users.Query
@model List<GetUserResultDTO>
@{
    Layout = "_AdminDashboard_Layout";
}

<div class="main-header">
    <h2>لیست اپراتورها</h2>
    <span class="subtitle">اطلاعات اپراتور</span>
</div>
<table class="patients-table">
    <div class="table-actions">
        <button class="add-btn">
            <span class="btn-text">افزودن</span>
            <span class="material-icons">add</span>
        </button>
    </div>

    <thead>
        <tr>
            <th>نام کاربری</th>
            <th>نام و نام خانوادگی</th>
            <th>رمز عبور</th>
            <th>تلفن همراه</th>
            <th>ایمیل</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td><span class="status">@user.FirstName @user.LastName</span></td>
                    <td><span class="status">@user.Password</span></td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Email</td>
                    <td>
                        <button class="edit-btn">مشاهده</button>
                        <button class="edit-btn">ویرایش</button>
                        <button class="edit-btn status offline">حذف</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" style="text-align:center;">اپراتوری یافت نشد.</td>
            </tr>
        }
    </tbody>
</table>
