@using Nursing_Service.Application.Services.Patient.Query.GetPatients
@model List<GetPatientsResultDTO> 
@{
	Layout = "_AdminDashboard_Layout";
}

<div class="main-header">
    <h2>لیست بیماران</h2>
    <span class="subtitle">اطلاعات بیمار</span>
</div>
<table class="patients-table">
    <div class="table-actions">
        <button class="add-btn">
            <span class="btn-text">افزودن</span>
            <span class="material-icons">add</span>
        </button>
    </div>

    <thead>
        <tr>
            <th>سن</th>
            <th>نام و نام خانوادگی</th>
            <th>کدملی</th>
            <th>تلفن همراه</th>
            <th>وضعیت درخواست</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var patient in Model)
            {
                <tr>
                    <td>@patient.Age</td>
                    <td><span class="status">@patient.FullName</span></td>
                    <td><span class="status">@patient.NationalCode</span></td>
                    <td>@patient.PhoneNumber</td>
                    <td>
                        @{
                            var statusClass = patient.Services!.Any(s => s.IsDone == false && s.IsPast == true) is true ? "offline" :
                            patient.Services.Any(s => s.IsDone == false) is false ? "online" : "pending";

                            var context = statusClass switch
                            {
                                "online" => statusClass = "انجام شده",
                                "offline" => statusClass = "انجام نشده",
                                "pending" => statusClass = "درحال انجام",
                                _ => statusClass = "status unknown"
                            };
                        }
                        <span class="status @statusClass">@context</span>
                    </td>
                    <td>
                        <button class="edit-btn">مشاهده</button>
                        <button class="edit-btn">ویرایش</button>
                        <button class="edit-btn status offline">حذف</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" style="text-align:center;">بیماری یافت نشد.</td>
            </tr>
        }
    </tbody>
</table>