@using Nursing_Service.Application.Services.SuperVisor.Query.GetSuperVisors
@using Nursing_Service.Common.Extensions
@model List<GetSuperVisorResultDTO>
@{
    Layout = "_AdminDashboard_Layout";
}
<div class="main-header">
    <h2>لیست سوپروایزرها</h2>
    <span class="subtitle">اطلاعات سوپروایزر</span>
</div>
<table class="patients-table">
    <div class="table-actions">
        <button class="add-btn">
            <span class="btn-text">افزودن</span>
            <span class="material-icons">add</span>
        </button>
    </div>
    <thead>
        <tr>
            <th>نام کاربری</th>
            <th>نام و نام خانوادگی</th>
            <th>تلفن همراه</th>
            <th>شیفت</th>
            <th>ایمیل</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @* Dynamically render each supervisor row *@
        @if (Model != null && Model.Any())
        {
            foreach (var supervisor in Model)
            {
                <tr>
                    <td>@supervisor.UserName</td>
                    <td><span class="status">@supervisor.FirstName @supervisor.LastName</span></td>
                    <td>@supervisor.PhoneNumber</td>
                    <td>@supervisor.Shift.GetDisplayName()</td>
                    <td>@supervisor.Email</td>
                    <td>
                        <button class="edit-btn">مشاهده</button>
                        <button class="edit-btn">ویرایش</button>
                        <button class="edit-btn status offline">حذف</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" style="text-align:center;">هیچ سوپروایزری یافت نشد.</td>
            </tr>
        }
    </tbody>
</table>